
<div class="bg-1">    
	<div class ="text-center">
		<div class ="row" style = "background-color:#555555;display:inline-block;box-shadow: 2px 2px 2px 2px #2f2f2f;border-radius:5px;width:90%;margin:30px 0;height:10%;padding:20px 20px">
	  		<h3 class="margin text-center">My Profile</h3>
	  		<h4><%= link_to "Edit Account", edit_user_registration_path, class: "btn btn-default text-center" %></h4>
		  <br>
		</div>
	</div>




	<div class ="">
	  
	    <% @posts.each do |post| %>
	    <% if post.user == current_user %>
	    <div class = "col-sm-2">
	      <div class ="container-fluid" style = "background-color:white; box-shadow: 2px 2px 2px 2px #2f2f2f;border-radius:5px;padding:20px;margin:10px 0px">
	        <div style = "display:inline-block">
	          <div class = "row">
	            <div style = "color:#79a8a9"><%= post.user.name %>
	            </div>
	          </div>
	          <div class = "row">
	            <% if post.updated_at == post.created_at %>
	              <div style = "float:right;color:grey;font-size:10px">You posted <%= time_ago_in_words(post.created_at) %> ago.</div>
	            <% else %>
	              <div style = "float:right;color:grey;font-size:10px">You edited <%= time_ago_in_words(post.updated_at) %> ago.</div>
	            <% end %>
	          </div>

	          <div class ="row">
	            <div style = "float:left"><%= image_tag post.image.url(:thumb), class: "img-responsive" %></div>
	          </div>
	            <div class = "row">
	              <div style ="text-align:center;color:#1f4e5f"><strong><%= link_to "#{post.title}", post %></strong></div> 
	            </div>   
	            <div class = "row">
	              <div style ="float:left;color:red">$<%= post.price %></div> 
	            </div>   
	          </div>
	        </div>
	      </div>
	    <% end %>
	    <% end %>
		</div>
	</div>
</div>